@import "tailwindcss";

:root {
  overflow: hidden;
  --stats-chart-size: 250px;
  --chat-row-font-size: 16px;
}

@layer base {
  * {
    font-family: pretendard, pretendard Fallback;
  }

  body:has(#splash) {
    margin: 0;
    border-radius: 200px;
    overflow: hidden;
  }
  body {
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
  }
  button {
    cursor: pointer;
  }

  *[data-tauri-drag-region] {
    app-region: drag;
  }
}

@theme {
  --inset-shadow-bottom: inset 0 -5px 8px -5px rgba(0, 0, 0, 0.25);
}

@layer components {
  .invisible-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .stats-chart {
    min-width: var(--stats-chart-size);
    width: 100%;
    aspect-ratio: 2/1;
    max-height: 280px;
  }

  .badge {
  }

  .badge::after {
    border-radius: 3px;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    content: attr(data-badge-label);
    color: white;
    font-size: 12px;
    font-weight: bold;
  }

  .badge-streamer::after {
    background-color: #f60;
  }

  .badge-manager::after {
    background-color: #31d3df;
  }

  .badge-vip::after {
    background-color: #d65b8f;
  }

  .badge-fan::after {
    background-color: #75aa5c;
  }

  .badge-support::after {
    background-color: #9379bd;
  }

  .badge-subscribe::after {
    background-color: #ef565f;
  }

  .badge-subscribe-tier2::after {
    background-color: #ef565f;
  }

  .text-gradient-accent {
    background: linear-gradient(to bottom right, #3b82f6, #9333ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .bg-gradient-accent {
    @apply bg-gradient-to-br from-blue-500 to-purple-600;
  }

  .chat-log-table-grid {
    display: grid;
    grid-template-columns: 120px 180px 1fr 100px 100px;
  }

  .chat-log-table-grid > div {
    padding: 8px;
    border-bottom: 1px solid #e5e7eb;
  }

  .chat-log-table-grid > div:hover {
    background-color: #f9fafb;
  }

  .event-log-table-grid {
    display: grid;
    grid-template-columns: 120px 180px 120px 1fr 100px 100px;
  }

  .event-log-table-grid > div {
    padding: 8px;
    border-bottom: 1px solid #e5e7eb;
  }

  .event-log-table-grid > div:hover {
    background-color: #f9fafb;
  }

  .user-log-table-grid {
    display: grid;
    grid-template-columns: 120px 180px 120px 1fr 100px 100px;
  }

  .user-log-table-grid > div {
    padding: 8px;
    border-bottom: 1px solid #e5e7eb;
  }

  .user-log-table-grid > div:hover {
    background-color: #f9fafb;
  }

  .chat-row {
    font-size: var(--chat-row-font-size);
  }

  .chat-header {
    min-width: calc(40px + var(--chat-row-font-size) * 5.5);
  }
}
